:root {
	--font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	--col-text: 34, 34, 34;
	--col-bg: 255, 255, 255;
	--col-bg1: 239, 239, 247;
	--col-accent: 94, 94, 133;
	--col-hover: 130, 130, 247;
	--col-active: 66, 66, 163;
	--col-i: 75, 192, 120;
	--col-t: 255, 99, 132;
	--col-d: 54, 162, 235;
}
@media (prefers-color-scheme: dark) {
	:root {
		--col-text: 255, 255, 255;
		--col-bg: 32, 32, 48;
		--col-bg1: 48, 48, 64;
		--col-accent: 91, 91, 139;
		--col-hover: 116, 116, 194;
		--col-active: 148, 148, 255;
	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-family: var(--font);
	color: rgb(var(--col-text));
	background-color: rgb(var(--col-bg));
}

body {
	margin: 0;
	overflow-y: scroll;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

input, button, select {
	font-family: inherit;
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
	/* Svelte Navigator focuses headlines for accessibility. */
	outline: none;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}
